-- 钛星表结构同步 DDL（28 张表）--
-- 用法：复制以下全部内容到 Coze 的 SQL 执行框运行（开发/生产各一次）--
-- 幂等：重复执行安全 --
-- ========== 建表（不存在的表才建） ==========
CREATE TABLE IF NOT EXISTS "health_check" (
  "id" BIGSERIAL PRIMARY KEY,
  "updated_at" TEXT
);

CREATE TABLE IF NOT EXISTS "board_meta" (
  "board_id" TEXT PRIMARY KEY,
  "updated" TEXT,
  "source" TEXT,
  "module" TEXT
);

CREATE TABLE IF NOT EXISTS "board_status" (
  "id" BIGSERIAL PRIMARY KEY,
  "board_id" TEXT,
  "last_crawled_at" TEXT,
  "new_items_count" TEXT,
  "total_sources" TEXT,
  "error_sources" TEXT,
  "last_message" TEXT,
  "rocket_intro" TEXT
);

CREATE TABLE IF NOT EXISTS "rocket_companies" (
  "id" INTEGER PRIMARY KEY,
  "rocket" TEXT,
  "company" TEXT,
  "country" TEXT,
  "fuel" TEXT,
  "diameter" TEXT,
  "thrust" TEXT,
  "leo" TEXT,
  "recovery" TEXT,
  "status" TEXT,
  "key" TEXT,
  "sort_order" TEXT
);

CREATE TABLE IF NOT EXISTS "rocket_launch_timeline" (
  "timeline_id" TEXT PRIMARY KEY,
  "rocket_id" TEXT,
  "mission_name" TEXT,
  "launch_time" TEXT,
  "launch_site" TEXT,
  "payload" TEXT,
  "outcome" TEXT,
  "reuse_status" TEXT,
  "brief_desc" TEXT,
  "related_news_ids" JSONB,
  "create_time" TEXT,
  "update_time" TEXT
);

CREATE TABLE IF NOT EXISTS "rocket_timeline" (
  "id" BIGSERIAL PRIMARY KEY,
  "period" TEXT,
  "date" TEXT,
  "title" TEXT,
  "desc" TEXT,
  "color" TEXT,
  "badge" TEXT,
  "done" BOOLEAN,
  "sort_order" INTEGER,
  "created_at" TEXT
);

CREATE TABLE IF NOT EXISTS "moon_highlights" (
  "id" INTEGER PRIMARY KEY,
  "num" TEXT,
  "label" TEXT,
  "color" TEXT,
  "sort_order" TEXT
);

CREATE TABLE IF NOT EXISTS "moon_comparison" (
  "id" BIGSERIAL PRIMARY KEY,
  "aspect" TEXT,
  "china_value" TEXT,
  "usa_value" TEXT,
  "notes" TEXT,
  "created_at" TEXT
);

CREATE TABLE IF NOT EXISTS "semiconductor_highlights" (
  "id" BIGSERIAL PRIMARY KEY,
  "num" TEXT,
  "label" TEXT,
  "color" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "semiconductor_tab_highlights" (
  "id" BIGSERIAL PRIMARY KEY,
  "tab_id" TEXT,
  "num" TEXT,
  "label" TEXT,
  "color" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "semiconductor_tab_progress" (
  "id" BIGSERIAL PRIMARY KEY,
  "tab_id" TEXT,
  "year" TEXT,
  "value" TEXT,
  "label" TEXT,
  "cls" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "semiconductor_technologies" (
  "id" BIGSERIAL PRIMARY KEY,
  "name" TEXT,
  "category" TEXT,
  "description" TEXT,
  "status" TEXT,
  "created_at" TEXT
);

CREATE TABLE IF NOT EXISTS "semiconductor_timeline" (
  "id" BIGSERIAL PRIMARY KEY,
  "event_date" TEXT,
  "company" TEXT,
  "event_type" TEXT,
  "description" TEXT,
  "created_at" TEXT
);

CREATE TABLE IF NOT EXISTS "china_tech_highlights" (
  "id" BIGSERIAL PRIMARY KEY,
  "num" TEXT,
  "label" TEXT,
  "color" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "china_tech_llm" (
  "id" BIGSERIAL PRIMARY KEY,
  "model" TEXT,
  "company" TEXT,
  "params" TEXT,
  "context_window" TEXT,
  "coding" TEXT,
  "math" TEXT,
  "arena" TEXT,
  "opensource" TEXT,
  "price" TEXT,
  "hi_fields" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "china_tech_timeline" (
  "id" BIGSERIAL PRIMARY KEY,
  "event_date" TEXT,
  "company" TEXT,
  "event_type" TEXT,
  "description" TEXT,
  "created_at" TEXT
);

CREATE TABLE IF NOT EXISTS "mega_projects" (
  "id" INTEGER PRIMARY KEY,
  "tab_id" TEXT,
  "emoji" TEXT,
  "project_name" TEXT,
  "target_id" TEXT,
  "status" TEXT,
  "status_class" TEXT,
  "sort_order" TEXT
);

CREATE TABLE IF NOT EXISTS "mega_project_highlights" (
  "id" BIGSERIAL PRIMARY KEY,
  "num" TEXT,
  "label" TEXT,
  "color" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "mega_project_milestones" (
  "id" BIGSERIAL PRIMARY KEY,
  "project_id" INTEGER,
  "marker" TEXT,
  "event_date" TEXT,
  "badge" TEXT,
  "badge_class" TEXT,
  "title" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "fusion_highlights" (
  "id" BIGSERIAL PRIMARY KEY,
  "num" TEXT,
  "label" TEXT,
  "color" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "fusion_timeline" (
  "id" INTEGER PRIMARY KEY,
  "region" TEXT,
  "region_label" TEXT,
  "event_date" TEXT,
  "title" TEXT,
  "description" TEXT,
  "color" TEXT,
  "sort_order" TEXT
);

CREATE TABLE IF NOT EXISTS "finance_grids" (
  "id" BIGSERIAL PRIMARY KEY,
  "section" TEXT,
  "key" TEXT,
  "value" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "finance_highlights" (
  "id" BIGSERIAL PRIMARY KEY,
  "section" TEXT,
  "label" TEXT,
  "num" TEXT,
  "sub" TEXT,
  "color" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "finance_sections" (
  "id" BIGSERIAL PRIMARY KEY,
  "section" TEXT,
  "tag" TEXT,
  "name" TEXT,
  "en" TEXT,
  "description" TEXT,
  "sort_order" INTEGER
);

CREATE TABLE IF NOT EXISTS "raw_articles" (
  "id" BIGSERIAL PRIMARY KEY,
  "news_id" TEXT,
  "source_name" TEXT,
  "source_url" TEXT,
  "crawl_time" TEXT,
  "publish_time" TEXT,
  "title" TEXT,
  "raw_content" TEXT,
  "summary" TEXT,
  "cover_image" TEXT,
  "images" TEXT,
  "tags" TEXT,
  "category" TEXT,
  "hot_score" INTEGER,
  "sentiment" TEXT,
  "event_group_id" TEXT,
  "language" TEXT,
  "status" TEXT,
  "dedup_key" TEXT,
  "board_id" TEXT,
  "source" TEXT,
  "url" TEXT,
  "date" TEXT,
  "raw_json" TEXT,
  "created_at" TEXT
);

CREATE TABLE IF NOT EXISTS "crawl_logs" (
  "id" BIGSERIAL PRIMARY KEY,
  "board_id" TEXT,
  "status" TEXT,
  "source_name" TEXT,
  "items_count" INTEGER,
  "error_message" TEXT,
  "started_at" TEXT,
  "finished_at" TEXT,
  "created_at" TEXT
);

CREATE TABLE IF NOT EXISTS "latest_news" (
  "id" BIGSERIAL PRIMARY KEY,
  "title" TEXT,
  "summary" TEXT,
  "source" TEXT,
  "board" TEXT,
  "board_label" TEXT,
  "link" TEXT,
  "publish_date" TEXT,
  "sort_order" INTEGER,
  "is_active" BOOLEAN,
  "created_at" TEXT,
  "updated_at" TEXT
);

CREATE TABLE IF NOT EXISTS "ai_extract_logs" (
  "id" BIGSERIAL PRIMARY KEY,
  "category" TEXT,
  "limit" INTEGER,
  "total" INTEGER,
  "inserted" INTEGER,
  "failed" INTEGER,
  "status" TEXT,
  "message" TEXT,
  "created_at" TEXT
);

-- ========== 补列（已存在的表缺列才补） ==========
ALTER TABLE "health_check" ADD COLUMN IF NOT EXISTS "updated_at" TEXT;
ALTER TABLE "board_meta" ADD COLUMN IF NOT EXISTS "updated" TEXT;
ALTER TABLE "board_meta" ADD COLUMN IF NOT EXISTS "source" TEXT;
ALTER TABLE "board_meta" ADD COLUMN IF NOT EXISTS "module" TEXT;
ALTER TABLE "board_status" ADD COLUMN IF NOT EXISTS "board_id" TEXT;
ALTER TABLE "board_status" ADD COLUMN IF NOT EXISTS "last_crawled_at" TEXT;
ALTER TABLE "board_status" ADD COLUMN IF NOT EXISTS "new_items_count" TEXT;
ALTER TABLE "board_status" ADD COLUMN IF NOT EXISTS "total_sources" TEXT;
ALTER TABLE "board_status" ADD COLUMN IF NOT EXISTS "error_sources" TEXT;
ALTER TABLE "board_status" ADD COLUMN IF NOT EXISTS "last_message" TEXT;
ALTER TABLE "board_status" ADD COLUMN IF NOT EXISTS "rocket_intro" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "rocket" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "company" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "country" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "fuel" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "diameter" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "thrust" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "leo" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "recovery" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "status" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "key" TEXT;
ALTER TABLE "rocket_companies" ADD COLUMN IF NOT EXISTS "sort_order" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "rocket_id" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "mission_name" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "launch_time" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "launch_site" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "payload" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "outcome" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "reuse_status" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "brief_desc" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "related_news_ids" JSONB;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "create_time" TEXT;
ALTER TABLE "rocket_launch_timeline" ADD COLUMN IF NOT EXISTS "update_time" TEXT;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "period" TEXT;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "date" TEXT;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "title" TEXT;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "desc" TEXT;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "badge" TEXT;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "done" BOOLEAN;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "rocket_timeline" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
ALTER TABLE "moon_highlights" ADD COLUMN IF NOT EXISTS "num" TEXT;
ALTER TABLE "moon_highlights" ADD COLUMN IF NOT EXISTS "label" TEXT;
ALTER TABLE "moon_highlights" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "moon_highlights" ADD COLUMN IF NOT EXISTS "sort_order" TEXT;
ALTER TABLE "moon_comparison" ADD COLUMN IF NOT EXISTS "aspect" TEXT;
ALTER TABLE "moon_comparison" ADD COLUMN IF NOT EXISTS "china_value" TEXT;
ALTER TABLE "moon_comparison" ADD COLUMN IF NOT EXISTS "usa_value" TEXT;
ALTER TABLE "moon_comparison" ADD COLUMN IF NOT EXISTS "notes" TEXT;
ALTER TABLE "moon_comparison" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
ALTER TABLE "semiconductor_highlights" ADD COLUMN IF NOT EXISTS "num" TEXT;
ALTER TABLE "semiconductor_highlights" ADD COLUMN IF NOT EXISTS "label" TEXT;
ALTER TABLE "semiconductor_highlights" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "semiconductor_highlights" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "semiconductor_tab_highlights" ADD COLUMN IF NOT EXISTS "tab_id" TEXT;
ALTER TABLE "semiconductor_tab_highlights" ADD COLUMN IF NOT EXISTS "num" TEXT;
ALTER TABLE "semiconductor_tab_highlights" ADD COLUMN IF NOT EXISTS "label" TEXT;
ALTER TABLE "semiconductor_tab_highlights" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "semiconductor_tab_highlights" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "semiconductor_tab_progress" ADD COLUMN IF NOT EXISTS "tab_id" TEXT;
ALTER TABLE "semiconductor_tab_progress" ADD COLUMN IF NOT EXISTS "year" TEXT;
ALTER TABLE "semiconductor_tab_progress" ADD COLUMN IF NOT EXISTS "value" TEXT;
ALTER TABLE "semiconductor_tab_progress" ADD COLUMN IF NOT EXISTS "label" TEXT;
ALTER TABLE "semiconductor_tab_progress" ADD COLUMN IF NOT EXISTS "cls" TEXT;
ALTER TABLE "semiconductor_tab_progress" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "semiconductor_technologies" ADD COLUMN IF NOT EXISTS "name" TEXT;
ALTER TABLE "semiconductor_technologies" ADD COLUMN IF NOT EXISTS "category" TEXT;
ALTER TABLE "semiconductor_technologies" ADD COLUMN IF NOT EXISTS "description" TEXT;
ALTER TABLE "semiconductor_technologies" ADD COLUMN IF NOT EXISTS "status" TEXT;
ALTER TABLE "semiconductor_technologies" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
ALTER TABLE "semiconductor_timeline" ADD COLUMN IF NOT EXISTS "event_date" TEXT;
ALTER TABLE "semiconductor_timeline" ADD COLUMN IF NOT EXISTS "company" TEXT;
ALTER TABLE "semiconductor_timeline" ADD COLUMN IF NOT EXISTS "event_type" TEXT;
ALTER TABLE "semiconductor_timeline" ADD COLUMN IF NOT EXISTS "description" TEXT;
ALTER TABLE "semiconductor_timeline" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
ALTER TABLE "china_tech_highlights" ADD COLUMN IF NOT EXISTS "num" TEXT;
ALTER TABLE "china_tech_highlights" ADD COLUMN IF NOT EXISTS "label" TEXT;
ALTER TABLE "china_tech_highlights" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "china_tech_highlights" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "model" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "company" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "params" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "context_window" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "coding" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "math" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "arena" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "opensource" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "price" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "hi_fields" TEXT;
ALTER TABLE "china_tech_llm" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "china_tech_timeline" ADD COLUMN IF NOT EXISTS "event_date" TEXT;
ALTER TABLE "china_tech_timeline" ADD COLUMN IF NOT EXISTS "company" TEXT;
ALTER TABLE "china_tech_timeline" ADD COLUMN IF NOT EXISTS "event_type" TEXT;
ALTER TABLE "china_tech_timeline" ADD COLUMN IF NOT EXISTS "description" TEXT;
ALTER TABLE "china_tech_timeline" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
ALTER TABLE "mega_projects" ADD COLUMN IF NOT EXISTS "tab_id" TEXT;
ALTER TABLE "mega_projects" ADD COLUMN IF NOT EXISTS "emoji" TEXT;
ALTER TABLE "mega_projects" ADD COLUMN IF NOT EXISTS "project_name" TEXT;
ALTER TABLE "mega_projects" ADD COLUMN IF NOT EXISTS "target_id" TEXT;
ALTER TABLE "mega_projects" ADD COLUMN IF NOT EXISTS "status" TEXT;
ALTER TABLE "mega_projects" ADD COLUMN IF NOT EXISTS "status_class" TEXT;
ALTER TABLE "mega_projects" ADD COLUMN IF NOT EXISTS "sort_order" TEXT;
ALTER TABLE "mega_project_highlights" ADD COLUMN IF NOT EXISTS "num" TEXT;
ALTER TABLE "mega_project_highlights" ADD COLUMN IF NOT EXISTS "label" TEXT;
ALTER TABLE "mega_project_highlights" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "mega_project_highlights" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "mega_project_milestones" ADD COLUMN IF NOT EXISTS "project_id" INTEGER;
ALTER TABLE "mega_project_milestones" ADD COLUMN IF NOT EXISTS "marker" TEXT;
ALTER TABLE "mega_project_milestones" ADD COLUMN IF NOT EXISTS "event_date" TEXT;
ALTER TABLE "mega_project_milestones" ADD COLUMN IF NOT EXISTS "badge" TEXT;
ALTER TABLE "mega_project_milestones" ADD COLUMN IF NOT EXISTS "badge_class" TEXT;
ALTER TABLE "mega_project_milestones" ADD COLUMN IF NOT EXISTS "title" TEXT;
ALTER TABLE "mega_project_milestones" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "fusion_highlights" ADD COLUMN IF NOT EXISTS "num" TEXT;
ALTER TABLE "fusion_highlights" ADD COLUMN IF NOT EXISTS "label" TEXT;
ALTER TABLE "fusion_highlights" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "fusion_highlights" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "fusion_timeline" ADD COLUMN IF NOT EXISTS "region" TEXT;
ALTER TABLE "fusion_timeline" ADD COLUMN IF NOT EXISTS "region_label" TEXT;
ALTER TABLE "fusion_timeline" ADD COLUMN IF NOT EXISTS "event_date" TEXT;
ALTER TABLE "fusion_timeline" ADD COLUMN IF NOT EXISTS "title" TEXT;
ALTER TABLE "fusion_timeline" ADD COLUMN IF NOT EXISTS "description" TEXT;
ALTER TABLE "fusion_timeline" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "fusion_timeline" ADD COLUMN IF NOT EXISTS "sort_order" TEXT;
ALTER TABLE "finance_grids" ADD COLUMN IF NOT EXISTS "section" TEXT;
ALTER TABLE "finance_grids" ADD COLUMN IF NOT EXISTS "key" TEXT;
ALTER TABLE "finance_grids" ADD COLUMN IF NOT EXISTS "value" TEXT;
ALTER TABLE "finance_grids" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "finance_highlights" ADD COLUMN IF NOT EXISTS "section" TEXT;
ALTER TABLE "finance_highlights" ADD COLUMN IF NOT EXISTS "label" TEXT;
ALTER TABLE "finance_highlights" ADD COLUMN IF NOT EXISTS "num" TEXT;
ALTER TABLE "finance_highlights" ADD COLUMN IF NOT EXISTS "sub" TEXT;
ALTER TABLE "finance_highlights" ADD COLUMN IF NOT EXISTS "color" TEXT;
ALTER TABLE "finance_highlights" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "finance_sections" ADD COLUMN IF NOT EXISTS "section" TEXT;
ALTER TABLE "finance_sections" ADD COLUMN IF NOT EXISTS "tag" TEXT;
ALTER TABLE "finance_sections" ADD COLUMN IF NOT EXISTS "name" TEXT;
ALTER TABLE "finance_sections" ADD COLUMN IF NOT EXISTS "en" TEXT;
ALTER TABLE "finance_sections" ADD COLUMN IF NOT EXISTS "description" TEXT;
ALTER TABLE "finance_sections" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "news_id" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "source_name" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "source_url" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "crawl_time" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "publish_time" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "title" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "raw_content" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "summary" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "cover_image" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "images" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "tags" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "category" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "hot_score" INTEGER;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "sentiment" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "event_group_id" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "language" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "status" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "dedup_key" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "board_id" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "source" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "url" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "date" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "raw_json" TEXT;
ALTER TABLE "raw_articles" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
ALTER TABLE "crawl_logs" ADD COLUMN IF NOT EXISTS "board_id" TEXT;
ALTER TABLE "crawl_logs" ADD COLUMN IF NOT EXISTS "status" TEXT;
ALTER TABLE "crawl_logs" ADD COLUMN IF NOT EXISTS "source_name" TEXT;
ALTER TABLE "crawl_logs" ADD COLUMN IF NOT EXISTS "items_count" INTEGER;
ALTER TABLE "crawl_logs" ADD COLUMN IF NOT EXISTS "error_message" TEXT;
ALTER TABLE "crawl_logs" ADD COLUMN IF NOT EXISTS "started_at" TEXT;
ALTER TABLE "crawl_logs" ADD COLUMN IF NOT EXISTS "finished_at" TEXT;
ALTER TABLE "crawl_logs" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "title" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "summary" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "source" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "board" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "board_label" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "link" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "publish_date" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "sort_order" INTEGER;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "is_active" BOOLEAN;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
ALTER TABLE "latest_news" ADD COLUMN IF NOT EXISTS "updated_at" TEXT;
ALTER TABLE "ai_extract_logs" ADD COLUMN IF NOT EXISTS "category" TEXT;
ALTER TABLE "ai_extract_logs" ADD COLUMN IF NOT EXISTS "limit" INTEGER;
ALTER TABLE "ai_extract_logs" ADD COLUMN IF NOT EXISTS "total" INTEGER;
ALTER TABLE "ai_extract_logs" ADD COLUMN IF NOT EXISTS "inserted" INTEGER;
ALTER TABLE "ai_extract_logs" ADD COLUMN IF NOT EXISTS "failed" INTEGER;
ALTER TABLE "ai_extract_logs" ADD COLUMN IF NOT EXISTS "status" TEXT;
ALTER TABLE "ai_extract_logs" ADD COLUMN IF NOT EXISTS "message" TEXT;
ALTER TABLE "ai_extract_logs" ADD COLUMN IF NOT EXISTS "created_at" TEXT;
